
<div class="row">
    <div class="col-md-6 col-sm-8">

        
{{#each products}}
        <div class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <div class="panel-body">
                <ul class="list-group">
                    
                        <li class="list-group-item">
                        <img src="/productImages/{{id}}{{image}}" style="heigth:50px; width:100px;"class="rounded-circle">
                        
                        <span class="badge">{{category}}</span>
                        Title:{{title}}
.
                       Description: {{desc}}
                    </li>
                   
                </ul>
            </div>

        </div>

        {{/each}}
    </div>
</div>